.box{
    background: rgba(249, 249, 249, 0.5);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.03);
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 10px 20px;
    justify-content: space-between;
}
.title{
    font-size: 1rem;
}
.video{
    width: 100%;
}
.form{
    width: 100%;
    display: flex;
    flex-direction: row;
    font-size: 12pt;
    align-items: center;
}
.inputDesc{
    font-size:10pt;
    font-weight: 600;
    color: #575757;
    width: 80px;
}
.input{
    font-size: 12pt;
    font-weight: 500;
    color: #575757;
    border: none;
    padding: 5px;
    border-bottom: 1px solid rgba(0,0,0,0.08);
    width: 100%;
    background: none;
}
.input:focus{
    outline: none;
}
