.box{
    flex: 2 1 400px;
    background: rgba(249, 249, 249, 0.5);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.03);
    padding: 20px 30px;
}
.title{
    font-size: 22pt;
    color: #575757;
}
ul{
    list-style: none;
    padding-top: 20px;
    width: 100%;
}
.listItem{
    display: flex;
    align-items: center;
    width: 100%;
    padding-bottom: 6px;
}
.checkBox{
    width: 20px;
    height: 18px;
    border: 2px solid #D0D0D0;
    transition: 0.2s;
    cursor: pointer;
}
.checkBox:hover{
    background-color: #D0D0D0;
}

.itemBox{
    padding: 10px;
    font-size: 12pt;
    font-weight: 500;
    color: #575757;
    border-bottom: 1px solid rgba(0,0,0,0.08);
    width: 100%;
}