.box{
    background: rgba(249, 249, 249, 0.5);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.03);
    padding: 20px 30px;
    display: flex;
}
.leftSection{
    flex: 1 1 auto;
}
.rightSection{
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 2rem;
}
.titleLarge{
    font-size: 22pt;
    color: #575757;
}
.titleMid{
    font-size: 17pt;
    color: #575757;
    font-weight: bold;
}
.paragraphLarge{
    font-size: 12pt;
    color: #575757;
    padding-bottom: 15px;
}
.paragraphSmall{
    font-size: 9pt;
    color: #575757;
    padding-bottom: 15px;
}
.icon{
    width: 100px;
}
