
.titleLarge{
    font-size: 27pt;
    color: black1;
}
.titleMid{
    font-size: 22pt;
    color: black1;
}
.titleSmall{
    font-size: 17pt;
    color: black1;
}
.paragraphLarge{
    font-size: 12pt;
    color: black1;
}
.paragraphSmall{
    font-size: 9pt;
    color: black1;
}


